*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    font-size: large;
}
header{
    background-image: url(../img/bradcam.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
#menu{
    padding: 25px 0;
}
header #menu ul{
    margin: 0;
    padding: 0;
}
header #menu ul li{
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}
header #menu ul li a{
    color: white;
    text-decoration: none;
}

header #menu ul li a:hover{
    color:thistle;
    text-decoration: underline;
}

main{
    margin: 0 auto;
    width: 1600px;
}

main div{
    display: inline-block;
    vertical-align: middle;
}
main .text h1{   
    font-size: 80px;
}
main .text p{
    font-size: 30px;
}
button{
    background-color:lightsalmon;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 20px 0;
}
button:hover{
    background-color:thistle;
}
main .image{
    text-align: right;
    width: 800px;
}
#sobre-nosotros{
    
    margin-top: 320px;
    margin-left: 60px;
    font-size: 35px;
    display: flex;
    align-items: center;
}
#sobre-nosotros p{
    width: 60%;
    padding: 10px;
    margin-left: 150px;
}
#sobre-nosotros img{
    width: 500px;
    display: flex;
    align-items: center;
    margin-right: 150px;
}
footer{
    margin: 3px 3px;
    margin-top: 200px;
    bottom: 6px;
    width: 100%;
    font-size: smaller;
}