*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2293f8;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#logo{
    margin: 25px 20px;
}
header{
    color: white;
}
header #menu ul li h1{
    padding: 0px 50px;
}
header #menu ul li{
    display: inline-block;
    vertical-align: middle;
}
main{
    background:white;
    color: black;
    border-radius: 10px;
    border-width:2px;
    border-style:outset;
    border-color: black;
    width: 475px;
    width: 40%;
    height: 980px;
    padding-left: 2%;
    margin-top: 10px;
    margin-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%); 
}
main form{
    font-size: 25px;
    width: 70%;
    margin: 5% 5%;
    padding: 0px 0px;
    text-align: right;
}
main form h1{
    width: 70%;
    font-size: 40px;
    margin: 20px 120px;
}
input[type="text"]{
    padding: 7px 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 7% 0px;
    
}
input[type="button"]{
    background-color:lightsalmon;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 0px 0;
}
.button{
    background-color:lightsalmon;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 0px 0;
}
.button:hover{
    background-color:thistle;
}
span{
    float:left;
    margin-left: 18.8%;
}
textarea{
    resize: none;
    padding: 15px 25px ;
}
input[type="button"]:hover{
    background-color:thistle;
}
#imagen img{
    vertical-align: middle;
    float: right;
    width: 700px;
}
footer{
    margin: 3px 3px;
    position: absolute;
    bottom: 6px;
    width: 100%;
    font-size: smaller;
}